Repository AdamLesage/R-Type-epitech, pull requests merged in 2024-10, with the labels that each got.

#83 Implement a death system that handles the dead entities
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/server/utils/Logger.cpp
  src/server/utils/Logger.hpp
Labels: enhancement, Server

#82 feat(systems): Added the health system that actually handles the regeneration of the hp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/Health.hpp
Labels: enhancement, Server

#86 feat (control system): Reworked the control system
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
Labels: enhancement, Server

#88 Rework the collisions system to make it handle the network
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/Size.hpp
Labels: enhancement, Server

#87 46 server game logique
  CMakeLists.txt
  documentation/PROTOCOL.md
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/GameLogique.hpp
  src/server/GameLogique/NetworkSender.cpp
  src/server/GameLogique/NetworkSender.hpp
  src/server/main_server.cpp
  src/server/network/IServer.hpp
  src/server/network/Server.cpp
  src/server/network/Server.hpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/Pattern.hpp
  src/shared/components/Shoot.hpp
Labels: Server

#91 feat (System) add the direction system and the direction component
  src/shared/components/Direction.hpp
  src/shared/systems/Systems.cpp
  src/shared/systems/Systems.hpp
Labels: enhancement

#105 104 rework entities update system
  CMakeLists.txt
  run_tests.sh
  src/client/Game.cpp
  src/client/Mediator/Mediator.cpp
  src/client/NetworkEngine/Client.cpp
  src/client/NetworkEngine/Client.hpp
  src/client/NetworkEngine/IClient.hpp
  src/client/NetworkEngine/NetworkEngine.cpp
  src/client/NetworkEngine/NetworkEngine.hpp
  src/client/main.cpp
  src/server/GameLogique/GameLogique.hpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  tests/client/test_NetworkEngine.cpp
Labels: Client

#112 feat(Mutex threads): use mutex to protect threads from shared resourc…
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/NetworkEngine/NetworkEngine.hpp
  src/client/NetworkEngine/targetver.h
  src/client/main.cpp
Labels: enhancement, Client

#114 84 implement verification of existing shared lib
  CMakeLists.txt
  src/client/AEngine.cpp
  src/client/AEngine.hpp
  src/client/AudioEngine/AudioEngine.cpp
  src/client/AudioEngine/AudioEngine.hpp
  src/client/DLloader.hpp
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/NetworkEngine/Client.cpp
  src/client/NetworkEngine/Client.hpp
  src/client/NetworkEngine/IClient.hpp
  src/client/NetworkEngine/NetworkEngine.cpp
  src/client/NetworkEngine/NetworkEngine.hpp
  src/client/PhysicEngine/PhysicEngine.cpp
  src/client/PhysicEngine/PhysicEngine.hpp
  src/client/RenderEngine/RenderMediator.cpp
  src/client/RenderEngine/RenderMediator.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/main.cpp
Labels: enhancement, Client

#118 Implement render mediator to communicate
  CMakeLists.txt
  src/client/AEngine.hpp
  src/client/Mediator/Mediator.cpp
  src/client/NetworkEngine/NetworkEngine.hpp
  src/client/RenderEngine/Menu/Lobby.cpp
  src/client/RenderEngine/Menu/Lobby.hpp
  src/client/RenderEngine/Menu/Menu.cpp
  src/client/RenderEngine/Menu/Menu.hpp
  src/client/RenderEngine/RenderMediator.cpp
  src/client/RenderEngine/RenderMediator.hpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/main.cpp
Labels: enhancement, Client

#121 92 implement multiple enemy pattern
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/GameLogique.hpp
  src/server/main_server.cpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/PlayerFollowingPattern.hpp
  src/shared/components/ShootPlayerPattern.hpp
  src/shared/components/ShootStraightPattern.hpp
Labels: Server

#109 41 implement a score system
  CMakeLists.txt
  src/config/scores.cfg
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/Score.hpp
Labels: enhancement, Server

#113 Implementation of a Makefile and refactor of the CMakeLists
  .github/workflows/main.yml
  .tmp/run_tests.sh
  .tmp/start_project.sh
  CMakeLists.txt
  Makefile
  README.md
  documentation/LINUX_INSTALL.md
  documentation/WORKFLOW.md
  release/CMakeLists.txt
  release/linux_installer.sh
  src/client/NetworkEngine/NetworkEngine.hpp
  src/client/RenderEngine/Menu/Game.cpp
  src/server/GameLogique/GameLogique.cpp
  src/server/systems/Systems.cpp
  src/shared/systems/Systems.cpp
  src/shared/systems/Systems.hpp
  tests/CMakeLists.txt
Labels: enhancement, Cross-platform, Server, Client

#124 fix (multithreading): multiples threads access to the window = crash …
  src/client/RenderEngine/RenderingEngine.cpp
Labels: bug

#128 FIX Workflow
  .github/workflows/main.yml
Labels: bug, Cross-platform

#135 101 create a lobby page for the client
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Game.hpp
  src/client/RenderEngine/Menu/Lobby.cpp
  src/client/RenderEngine/Menu/Menu.cpp
  src/client/RenderEngine/Menu/Menu.hpp
  src/client/asset/Sounds/Piou.wav
  src/client/asset/Sounds/menu.ogg
Labels: enhancement, Client

#134 feat(Entities damage system): entities such as players or enemies can…
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/Type.hpp
Labels: enhancement, Server

#140 feat(Protocol parsing): able to parse direction update close #76
  src/client/GameEngine/ProtocolParsing.cpp
Labels: enhancement, Client

#144 122 add camera on the game logique
  src/client/GameEngine/ProtocolParsing.cpp
  src/client/GameEngine/ProtocolParsing.hpp
  src/server/GameLogique/GameLogique.cpp
  src/server/systems/Systems.cpp
Labels: enhancement, Client

#142 10 implement audio and visual disabilities functionalities
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Game.hpp
  src/client/RenderEngine/Menu/Lobby.cpp
  src/client/RenderEngine/Menu/Lobby.hpp
  src/client/RenderEngine/Menu/Menu.cpp
  src/client/RenderEngine/Menu/Menu.hpp
  src/client/RenderEngine/Menu/Settings.cpp
  src/client/RenderEngine/Menu/Settings.hpp
  src/config/key.cfg
Labels: Accessibility requirements

#148 fix(Heath update): fix the send of the heath update
  src/client/GameEngine/protocol_config.cfg
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Game.hpp
  src/client/RenderEngine/Menu/Lobby.cpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/NetworkSender.cpp
  src/server/systems/Systems.cpp
Labels: bug

#147 fix(Client): fix segfault on camera
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Game.hpp
  src/client/RenderEngine/Menu/Lobby.cpp
  src/client/RenderEngine/Menu/Lobby.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
Labels: bug

#155 feat(Player gameplay): player can press many keys and use them at the…
  src/client/RenderEngine/Menu/Game.cpp
  src/shared/systems/Systems.cpp
  src/shared/systems/Systems.hpp
Labels: enhancement, Client

#156 fix(Server): fix move player after death
  src/server/GameLogique/GameLogique.cpp
Labels: bug

#157 rework(Server): increase the player speed and the player shooting speed
  src/server/GameLogique/GameLogique.cpp
  src/server/systems/Systems.cpp
Labels: Server

#160 158 update protocole
  documentation/PROTOCOL.md
Labels: documentation

#161 feat(Client): add differente sprite of player when 2 or more player i…
  src/client/GameEngine/ProtocolParsing.cpp
Labels: enhancement, Client

#165 docs(Technical and comparative study): add technical and comparative …
  documentation/TECHNICAL_COMPARATIVE_STUDY.md
Labels: documentation

#194 Add network porifling
  config/key.cfg
  documentation/PROTOCOL.md
  src/client/GameMetrics/GameMetrics.cpp
  src/client/GameMetrics/GameMetrics.hpp
  src/client/RenderEngine/Menu/Game.cpp
Labels: Client

#192 183 asset editor tool bar
  .gitignore
  Makefile
  assets/asset_editor/delete.png
  assets/asset_editor/dezoom.png
  assets/asset_editor/move.png
  assets/asset_editor/redo.png
  assets/asset_editor/save.png
  assets/asset_editor/undo.png
  assets/asset_editor/zoom.png
  config/key.cfg
  src/asset_editor/AssetEditor/AssetEditor.cpp
  src/asset_editor/AssetEditor/AssetEditor.hpp
  src/asset_editor/CMakeLists.txt
  src/asset_editor/EditionScreen/EditionScreen.cpp
  src/asset_editor/EditionScreen/EditionScreen.hpp
  src/asset_editor/Sidebar/RightSidebar.cpp
  src/asset_editor/Sidebar/RightSidebar.hpp
  src/asset_editor/Sidebar/Toolbar.cpp
  src/asset_editor/Sidebar/Toolbar.hpp
  src/asset_editor/Sidebar/ToolbarButton.cpp
  src/asset_editor/Sidebar/ToolbarButton.hpp
  src/asset_editor/history/AddAsset.cpp
  src/asset_editor/history/AddAsset.hpp
  src/asset_editor/history/Asset.cpp
  src/asset_editor/history/Asset.hpp
  src/asset_editor/history/CommandManager.cpp
  src/asset_editor/history/CommandManager.hpp
  src/asset_editor/history/ICommand.hpp
  src/asset_editor/history/MoveAsset.cpp
  src/asset_editor/history/MoveAsset.hpp
  src/asset_editor/history/RemoveAsset.cpp
  src/asset_editor/history/RemoveAsset.hpp
  src/asset_editor/main.cpp
Labels: enhancement, GameEngine

#195 Added the gpu usage display for nvidia gpu.
  src/client/GameMetrics/GameMetrics.cpp
  src/client/GameMetrics/GameMetrics.hpp
  src/client/RenderEngine/Menu/Game.cpp
Labels: Client

#206 28 implement client settings menu
  assets/background/Baren.png
  assets/background/Black_hole.png
  assets/background/Ice.png
  assets/background/Lava.png
  assets/background/Terran.png
  assets/background/blue/blue-back.png
  assets/background/blue/blue-stars.png
  assets/background/blue/blue-with-stars.png
  assets/background/blue/prop-planet-big.png
  assets/background/blue/prop-planet-small.png
  assets/background/red/parallax-space-backgound.png
  assets/background/red/parallax-space-big-planet.png
  assets/background/red/parallax-space-far-planets.png
  assets/background/red/parallax-space-ring-planet.png
  assets/background/red/parallax-space-stars.png
  assets/bonus/Shield_bonus.png
  assets/bonus/bigrayon_bonus.png
  assets/bonus/boost_bonus.png
  assets/bonus/machinegun_bonus.png
  assets/bonus/rocket_bonus.png
  assets/bullet/Big_missile_1.png
  assets/bullet/big_missile_2.png
  assets/bullet/big_missile_3.png
  assets/bullet/big_missile_4.png
  assets/bullet/big_missile_5.png
  assets/bullet/rocket_player.png
  assets/environment/Asteroid_base.png
  assets/environment/Asteroid_explode.png
  assets/input/Keyboard/keyboard_down arrow.png
  assets/input/Keyboard/keyboard_down arrow_outline.png
  assets/input/Keyboard/keyboard_left arrow.png
  assets/input/Keyboard/keyboard_left arrow_outline.png
  assets/input/Keyboard/keyboard_right arrow.png
  assets/input/Keyboard/keyboard_right arrow_outline.png
  assets/input/Keyboard/keyboard_up arrow.png
  assets/input/Keyboard/keyboard_up arrow_outline.png
  assets/shaders/Achromatopsia_shader.frag
  assets/shaders/Deuteranopia_shader.frag
  assets/shaders/Normal_shader.frag
  assets/shaders/Protanopia_shader.frag
  assets/shaders/Tritanopia_shader.frag
  config/key.cfg
  src/client/RenderEngine/Console/Console.cpp
  src/client/RenderEngine/Console/Console.hpp
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Game.hpp
  src/client/RenderEngine/Menu/Lobby.cpp
  src/client/RenderEngine/Menu/Lobby.hpp
  src/client/RenderEngine/Menu/Menu.cpp
  src/client/RenderEngine/Menu/Menu.hpp
  src/client/RenderEngine/Menu/Settings.cpp
  src/client/RenderEngine/Menu/Settings.hpp
  src/client/RenderEngine/RenderingEngine.cpp
Labels: Accessibility requirements, Client

#207 Add CPU usage metric
  src/client/GameMetrics/GameMetrics.cpp
  src/client/GameMetrics/GameMetrics.hpp
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Game.hpp
  src/client/RenderEngine/Menu/Toolbar.cpp
  src/client/RenderEngine/Menu/Toolbar.hpp
Labels: enhancement

#208 200 developer console commands management
  documentation/CONSOLE.md
  documentation/PROTOCOL.md
  src/client/Mediator/Mediator.cpp
  src/client/RenderEngine/Console/Console.cpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/GameLogique.hpp
  src/server/systems/Systems.cpp
Labels: enhancement

#215 Added network profiling
  config/protocol_config.cfg
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/GameEngine/ProtocolParsing.cpp
  src/client/GameEngine/ProtocolParsing.hpp
  src/client/GameMetrics/GameMetrics.cpp
  src/client/GameMetrics/GameMetrics.hpp
  src/client/Mediator/Mediator.cpp
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Game.hpp
  src/client/RenderEngine/Menu/Lobby.cpp
  src/client/RenderEngine/Menu/Lobby.hpp
  src/client/RenderEngine/Menu/Toolbar.cpp
  src/client/RenderEngine/Menu/Toolbar.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/NetworkSender.cpp
  src/server/GameLogique/NetworkSender.hpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
Labels: bug, enhancement, Cross-platform

#230 210 rework lobby
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/ProtocolParsing.cpp
  src/client/GameEngine/ProtocolParsing.hpp
  src/client/GameEngine/protocol_config.cfg
  src/client/Mediator/Mediator.cpp
  src/client/Mediator/Mediator.hpp
  src/client/RenderEngine/ARenderEngineScene.cpp
  src/client/RenderEngine/ARenderEngineScene.hpp
  src/client/RenderEngine/IRenderEngineScene.hpp
  src/client/RenderEngine/Menu/Button.cpp
  src/client/RenderEngine/Menu/Button.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/RenderEngine/Scenes/Game.cpp
  src/client/RenderEngine/Scenes/Game.hpp
  src/client/RenderEngine/Scenes/Lobby.cpp
  src/client/RenderEngine/Scenes/Lobby.hpp
  src/client/RenderEngine/Scenes/Menu.cpp
  src/client/RenderEngine/Scenes/Menu.hpp
  src/client/RenderEngine/Scenes/Settings.cpp
  src/client/RenderEngine/Scenes/Settings.hpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/GameLogique.hpp
  src/server/GameLogique/NetworkSender.cpp
  src/server/GameLogique/NetworkSender.hpp
  src/server/network/Server.cpp
  src/server/network/Server.hpp
  src/shared/sparse_array/SparseArray.hpp
Labels: GameEngine

#212 211 retrieve port and host from client input
  src/client/RenderEngine/Menu/ClientConnexionHandling.cpp
  src/client/RenderEngine/Menu/ClientConnexionHandling.hpp
  src/client/main.cpp
Labels: enhancement, Client

#197 175 world asset editor
  Makefile
  assets/asset_editor/empty.png
  assets/asset_editor/load.png
  config/scenes/SCENE_EXAMPLE.cfg
  config/scenes/hello.cfg
  config/scenes/test.cfg
  src/asset_editor/AssetEditor/AssetEditor.cpp
  src/asset_editor/AssetEditor/AssetEditor.hpp
  src/asset_editor/CMakeLists.txt
  src/asset_editor/EditionScreen/EditionScreen.cpp
  src/asset_editor/EditionScreen/EditionScreen.hpp
  src/asset_editor/EditionScreen/LoadScene.cpp
  src/asset_editor/EditionScreen/LoadScene.hpp
  src/asset_editor/EditionScreen/SaveScene.cpp
  src/asset_editor/EditionScreen/SaveScene.hpp
  src/asset_editor/Sidebar/RightSidebar.cpp
  src/asset_editor/Sidebar/RightSidebar.hpp
  src/asset_editor/Sidebar/Toolbar.cpp
  src/asset_editor/Sidebar/Toolbar.hpp
  src/asset_editor/Sidebar/ToolbarButton.cpp
  src/asset_editor/Sidebar/ToolbarButton.hpp
  src/asset_editor/Sidebar/assetSelector/AssetSelector.cpp
  src/asset_editor/Sidebar/assetSelector/AssetSelector.hpp
  src/asset_editor/Sidebar/componentsEditor/ComponentsEditor.cpp
  src/asset_editor/Sidebar/componentsEditor/ComponentsEditor.hpp
  src/asset_editor/Sidebar/componentsEditor/Input.cpp
  src/asset_editor/Sidebar/componentsEditor/Input.hpp
  src/asset_editor/Sidebar/componentsEditor/InputNumber.cpp
  src/asset_editor/Sidebar/componentsEditor/InputNumber.hpp
  src/asset_editor/Sidebar/componentsEditor/SelectButton.cpp
  src/asset_editor/Sidebar/componentsEditor/SelectButton.hpp
  src/asset_editor/Sidebar/selectBar/SelectBar.cpp
  src/asset_editor/Sidebar/selectBar/SelectBar.hpp
  src/asset_editor/history/AddAsset.cpp
  src/asset_editor/history/AddAsset.hpp
  src/asset_editor/history/Asset.cpp
  src/asset_editor/history/Asset.hpp
  src/asset_editor/history/CommandManager.cpp
  src/asset_editor/history/CommandManager.hpp
  src/asset_editor/history/ICommand.hpp
  src/asset_editor/history/MoveAsset.cpp
  src/asset_editor/history/MoveAsset.hpp
  src/asset_editor/history/RemoveAsset.hpp
Labels: GameEngine

#233 184 add world position
  src/client/GameMetrics/GameMetrics.cpp
  src/client/GameMetrics/GameMetrics.hpp
  src/client/RenderEngine/Menu/Game.cpp
  src/client/RenderEngine/Menu/Toolbar.cpp
  src/client/RenderEngine/Menu/Toolbar.hpp
Labels: enhancement

#237 Audioengine
  src/client/AudioEngine/AudioEngine.cpp
  src/client/AudioEngine/AudioEngine.hpp
  src/client/Mediator/Mediator.cpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/RenderEngine/Scenes/Game.cpp
  src/client/RenderEngine/Scenes/Game.hpp
  src/client/RenderEngine/Scenes/Lobby.cpp
  src/client/RenderEngine/Scenes/Lobby.hpp
  src/client/RenderEngine/Scenes/Menu.cpp
  src/client/RenderEngine/Scenes/Menu.hpp
  src/client/RenderEngine/Scenes/Settings.cpp
  src/client/RenderEngine/Scenes/Settings.hpp
Labels: GameEngine

#247 docs(Technical and comparative study): improve technical and comparat…
  documentation/TECHNICAL_COMPARATIVE_STUDY.md
Labels: documentation, enhancement

#234 In game metrics
  Makefile
  config/protocol_config.cfg
  documentation/PROTOCOL.md
  src/client/AudioEngine/AudioEngine.cpp
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/ProtocolParsing.cpp
  src/client/GameEngine/ProtocolParsing.hpp
  src/client/GameMetrics/GameMetrics.cpp
  src/client/GameMetrics/GameMetrics.hpp
  src/client/GameMetrics/Toolbar.cpp
  src/client/GameMetrics/Toolbar.hpp
  src/client/Mediator/Mediator.cpp
  src/client/RenderEngine/ARenderEngineScene.hpp
  src/client/RenderEngine/IRenderEngineScene.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/RenderEngine/Scenes/Game.cpp
  src/client/RenderEngine/Scenes/Game.hpp
  src/client/RenderEngine/Scenes/Lobby.cpp
  src/client/RenderEngine/Scenes/Lobby.hpp
  src/client/RenderEngine/Scenes/Menu.cpp
  src/client/RenderEngine/Scenes/Menu.hpp
  src/client/RenderEngine/Scenes/Settings.cpp
  src/client/RenderEngine/Scenes/Settings.hpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/NetworkSender.cpp
  src/server/GameLogique/NetworkSender.hpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
Labels: enhancement, Client

#245 239 implement friendly fire
  config/key.cfg
  src/client/RenderEngine/Scenes/Settings.cpp
  src/client/RenderEngine/Scenes/Settings.hpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/GameLogique.hpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/ParentId.hpp
  src/shared/systems/Systems.hpp
Labels: enhancement

#252 217 implement a new game doodle jump
  assets/doodle_jump/bck.png
  assets/doodle_jump/game-tiles.png
  assets/doodle_jump/green-tile.png
  assets/doodle_jump/lik-front.png
  assets/doodle_jump/lik-left.png
  assets/doodle_jump/lik-right.png
  config/Platformer/game_config.cfg
  config/R-Type/game_config.cfg
  src/asset_editor/Sidebar/assetSelector/AssetSelector.cpp
  src/client/Error/AError.hpp
  src/client/Error/DLError.hpp
  src/client/Error/IError.hpp
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/Mediator/IMediator.hpp
  src/client/Mediator/Mediator.cpp
  src/client/Mediator/Mediator.hpp
  src/client/RenderEngine/Menu/ClientConnexionHandling.cpp
  src/client/RenderEngine/Menu/ClientConnexionHandling.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/RenderEngine/Scenes/EndMenu.cpp
  src/client/RenderEngine/Scenes/EndMenu.hpp
  src/client/RenderEngine/Scenes/Game.cpp
  src/client/RenderEngine/Scenes/Game.hpp
  src/client/RenderEngine/Scenes/Games/AGame.cpp
  src/client/RenderEngine/Scenes/Games/AGame.hpp
  src/client/RenderEngine/Scenes/Games/DoodleJump.cpp
  src/client/RenderEngine/Scenes/Games/DoodleJump.hpp
  src/client/RenderEngine/Scenes/Games/IGame.hpp
  src/client/RenderEngine/Scenes/Lobby.cpp
  src/client/RenderEngine/Scenes/Lobby.hpp
  src/client/RenderEngine/Scenes/Menu.hpp
  src/client/main.cpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/GameLogique.hpp
  src/server/network/Server.cpp
  src/server/systems/Systems.cpp
  src/shared/network/LockedQueue.hpp
Labels: enhancement, Server, Client, GameEngine
