Repository AdamLesage/R-Type-epitech, pull requests merged in 2024-09, with the labels that each got.

#1 Added components as struct (+ doxygen)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/tests.yml
  .github/pull_request_template.md
  src/components/Camera.cpp
  src/components/Camera.hpp
  src/components/Charging.cpp
  src/components/Charging.hpp
  src/components/Color.cpp
  src/components/Color.hpp
  src/components/Control.cpp
  src/components/Control.hpp
  src/components/Controllable.cpp
  src/components/Controllable.hpp
  src/components/Damage.cpp
  src/components/Damage.hpp
  src/components/Freeze.cpp
  src/components/Freeze.hpp
  src/components/Health.cpp
  src/components/Health.hpp
  src/components/Level.cpp
  src/components/Level.hpp
  src/components/Position.cpp
  src/components/Position.hpp
  src/components/Revivable.cpp
  src/components/Revivable.hpp
  src/components/Rotation.cpp
  src/components/Rotation.hpp
  src/components/Scale.cpp
  src/components/Scale.hpp
  src/components/Shoot.cpp
  src/components/Shoot.hpp
  src/components/ShootingSpeed.hpp
  src/components/Sound.cpp
  src/components/Sound.hpp
  src/components/Sprite.cpp
  src/components/Sprite.hpp
  src/components/Tag.cpp
  src/components/Tag.hpp
  src/components/Velocity.cpp
  src/components/Velocity.hpp
Labels: enhancement

#43 Reworked repository structure and systems + added a collision system
  .gitignore
  .tmp/accessibility_requirements/PhysicalMotor.cpp
  .tmp/accessibility_requirements/PhysicalMotor.hpp
  .tmp/bootstrap/Components/controllable.hpp
  .tmp/bootstrap/Components/drawable.hpp
  .tmp/bootstrap/Components/position.hpp
  .tmp/bootstrap/Components/velocity.hpp
  .tmp/bootstrap/Entity.cpp
  .tmp/bootstrap/Entity.hpp
  .tmp/bootstrap/Registery.hpp
  .tmp/bootstrap/SparseArray.hpp
  .tmp/bootstrap/System/controlSystem.cpp
  .tmp/bootstrap/System/draw_system.cpp
  .tmp/bootstrap/System/loggingSystem.cpp
  .tmp/bootstrap/System/positionSystem.cpp
  .tmp/bootstrap/main.cpp
  .tmp/game_engine/Entity.cpp
  .tmp/game_engine/Entity.hpp
  .tmp/game_engine/GameEngine.cpp
  .tmp/game_engine/GameEngine.hpp
  .tmp/game_engine/IGameEngine.hpp
  .tmp/game_engine/Registery.hpp
  .tmp/game_engine/SparseArray.hpp
  .tmp/system/controlSystem.cpp
  .tmp/system/positionSystem.cpp
  .tmp/system/soundSystem copy.cpp
  CMakeLists.txt
  src/client/.gitkeep
  src/server/main.cpp
  src/server/registry/Registry.cpp
  src/server/registry/Registry.hpp
  src/server/sparse_array/SparseArray.hpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/Camera.hpp
  src/shared/components/Charging.hpp
  src/shared/components/Color.hpp
  src/shared/components/Control.hpp
  src/shared/components/Controllable.hpp
  src/shared/components/Damage.hpp
  src/shared/components/Drawable.hpp
  src/shared/components/Freeze.hpp
  src/shared/components/Health.hpp
  src/shared/components/Level.hpp
  src/shared/components/Position.hpp
  src/shared/components/Revivable.hpp
  src/shared/components/Rotation.hpp
  src/shared/components/Scale.hpp
  src/shared/components/Shoot.hpp
  src/shared/components/ShootingSpeed.hpp
  src/shared/components/Sound.hpp
  src/shared/components/Sprite.hpp
  src/shared/components/Tag.hpp
  src/shared/components/Velocity.hpp
  src/shared/entities/Entity.cpp
  src/shared/entities/Entity.hpp
  src/shared/protocol/BinaryMessage.hpp
Labels: enhancement

#52 feat(Client): client create SFML window and can move player
  CMakeLists.txt
  src/client/engines/AEngine.hpp
  src/client/engines/GameEngine.cpp
  src/client/engines/GameEngine.hpp
  src/client/engines/IEngine.hpp
  src/client/engines/Mediator.cpp
  src/client/engines/NetworkEngine.cpp
  src/client/engines/NetworkEngine.hpp
  src/client/engines/RenderingEngine.cpp
  src/client/engines/RenderingEngine.hpp
  src/client/main.cpp
  src/client/network/Client.cpp
  src/client/network/Client.hpp
  src/client/network/IClient.hpp
  src/shared/registry/Registry.cpp
  src/shared/registry/Registry.hpp
  src/shared/sparse_array/SparseArray.hpp
  src/shared/systems/Systems.cpp
  src/shared/systems/Systems.hpp
Labels: enhancement, Client

#58 39 implement a shoot system
  src/server/main.cpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
  src/shared/components/ShootingSpeed.hpp
  src/shared/components/Type.hpp
Labels: enhancement, Server

#61 53 implement dynamic lib loading
  .gitignore
  CMakeLists.txt
  lib/.gitkeep
  src/client/AEngine.hpp
  src/client/AudioEngine/AudioEngine.cpp
  src/client/AudioEngine/AudioEngine.hpp
  src/client/DLloader.hpp
  src/client/Error/AError.hpp
  src/client/Error/DLError.hpp
  src/client/Error/IError.hpp
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/IEngine.hpp
  src/client/Mediator/IMediator.hpp
  src/client/Mediator/Mediator.cpp
  src/client/Mediator/Mediator.hpp
  src/client/NetworkEngine/Client.cpp
  src/client/NetworkEngine/Client.hpp
  src/client/NetworkEngine/IClient.hpp
  src/client/NetworkEngine/NetworkEngine.cpp
  src/client/NetworkEngine/NetworkEngine.hpp
  src/client/PhysicEngine/PhysicEngine.cpp
  src/client/PhysicEngine/PhysicEngine.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/engines/AEngine.hpp
  src/client/engines/GameEngine.hpp
  src/client/engines/IEngine.hpp
  src/client/engines/IMediator.hpp
  src/client/engines/Mediator.hpp
  src/client/engines/NetworkEngine.cpp
  src/client/engines/NetworkEngine.hpp
  src/client/engines/RenderingEngine.cpp
  src/client/engines/RenderingEngine.hpp
  src/client/main.cpp
  start_project.sh
Labels: enhancement, Client

#65 62 network communcation server and client
  CMakeLists.txt
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/Mediator/Mediator.cpp
  src/client/Mediator/Mediator.hpp
  src/client/NetworkEngine/NetworkEngine.cpp
  src/client/NetworkEngine/NetworkEngine.hpp
  src/client/main.cpp
Labels: enhancement, Client
