Repository AdamLesage/R-Type-epitech, pull requests merged in 2024-11, with the labels that each got.

#260 Fixed windows compilation.
  config/protocol_config.cfg
  src/asset_editor/EditionScreen/EditionScreen.cpp
  src/asset_editor/EditionScreen/LoadScene.cpp
  src/asset_editor/Sidebar/RightSidebar.cpp
  src/asset_editor/Sidebar/Toolbar.cpp
  src/asset_editor/Sidebar/ToolbarButton.cpp
  src/asset_editor/Sidebar/selectBar/SelectBar.hpp
  src/client/DLloader.hpp
  src/client/GameEngine/GameEngine.hpp
  src/client/GameMetrics/GameMetrics.cpp
  src/client/GameMetrics/GameMetrics.hpp
  src/client/RenderEngine/Menu/ClientConnexionHandling.cpp
  src/client/main.cpp
  src/server/GameLogique/GameLogique.cpp
Labels: bug, Cross-platform

#257 Rework health display
  .github/workflows/main.yml
  config/R-Type/game_config.cfg
  config/key.cfg
  config/scenes/Level_1.cfg
  config/scenes/move_1.cfg
  src/client/Camera.hpp
  src/client/GameEngine/GameEngine.cpp
  src/client/RenderEngine/Scenes/Game.cpp
  src/client/RenderEngine/Scenes/Game.hpp
Labels: enhancement, Client

#264 258 implement rtype offline mode
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/GameEngine/ProtocolParsing.cpp
  src/client/GameMetrics/Toolbar.cpp
  src/client/Mediator/Mediator.cpp
  src/client/RenderEngine/ARenderEngineScene.hpp
  src/client/RenderEngine/Menu/ClientConnexionHandling.cpp
  src/client/RenderEngine/Menu/ClientConnexionHandling.hpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/RenderingEngine.hpp
  src/client/RenderEngine/Scenes/Game.cpp
  src/client/RenderEngine/Scenes/Game.hpp
  src/client/RenderEngine/Scenes/Games/DoodleJumpOffline.cpp
  src/client/RenderEngine/Scenes/Games/DoodleJumpOffline.hpp
  src/client/RenderEngine/Scenes/Games/RTypeOffline.cpp
  src/client/RenderEngine/Scenes/Games/RTypeOffline.hpp
  src/client/RenderEngine/Scenes/Lobby.cpp
  src/client/RenderEngine/Scenes/Lobby.hpp
  src/client/main.cpp
Labels: enhancement, Client, GameEngine

#267 265 rtype offline errors
  config/Platformer/game_config.cfg
  src/client/Mediator/Mediator.cpp
  src/client/RenderEngine/Menu/ClientConnexionHandling.cpp
  src/client/RenderEngine/RenderingEngine.cpp
  src/client/RenderEngine/Scenes/EndMenu.cpp
  src/client/RenderEngine/Scenes/EndMenu.hpp
  src/client/RenderEngine/Scenes/Game.cpp
Labels: bug, enhancement, Client

#276 Score parser and saver
  config/scores.cfg
  src/shared/scores/ScoresParser.cpp
  src/shared/scores/ScoresParser.hpp
Labels: enhancement, Server, Client

#277 Display of the last and highest scores
  src/client/RenderEngine/Scenes/Menu.cpp
  src/client/RenderEngine/Scenes/Menu.hpp
Labels: enhancement, Client

#279 Handle the incrementation of the score (client side)
  documentation/PROTOCOL.md
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/GameEngine.hpp
  src/client/GameEngine/ProtocolParsing.cpp
  src/server/GameLogique/GameLogique.cpp
  src/server/GameLogique/NetworkSender.cpp
  src/server/GameLogique/NetworkSender.hpp
  src/server/systems/Systems.cpp
  src/server/systems/Systems.hpp
Labels: enhancement, Client

#281 Display scores in real time
  src/client/Camera.hpp
  src/client/GameEngine/GameEngine.cpp
  src/client/GameEngine/ProtocolParsing.cpp
  src/client/RenderEngine/Scenes/Game.cpp
  src/client/RenderEngine/Scenes/Game.hpp
Labels: Client
